<div class="container">
  <h2 class="form-title">OJT Application Form</h2>
  <%= render "form", post: @applicant, url: test_applicants_path(@applicant), method: :post, back: applicants_path %>
</div>
