<div class="confirm-container">
    <h2 class="confirm-header">Your Data Sent Successfully!</h2>
    <div class="submit-btn">
        <%= link_to "Back", :root, :class => "back-btn" %>
    </div>
</div>