.clearFix:after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	font-size: 0;
	height: 0;
}
.article{
	width: 971px;
	margin: 40px auto;
}
.article .title{
	font-family: "ShinGoPro-Light";
	font-size: 26px;
	letter-spacing: 2px;
	position: relative;
	margin-left: 30px;
	margin-bottom: 17px;
}
.article .title:before{
	content: '';
	height: 20px;
	width: 20px;
	position: absolute;
	left: -30px;
	top: 10px;
}
.article .article-1 .title:before{
	background: url(../images/bulb_icon.png) no-repeat;
}
.article .article-1 ul li{
	float: left;
	margin-right: 17px;
	width: 180px;
}
.article .article-1 ul li:last-child{
	margin-right: 0;
}
.article .link{
	font-family: "MS PGothic";
	font-size: 12px;
	font-weight: bold;
	color: #007ecc;
	text-decoration: underline;
}
.article .link:hover{
	text-decoration: none;
}
.article .article-1 ul li p{
	font-family: "MS PGothic";
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.5em;
	padding-top: 10px;
}
.article .article-1{
	margin-bottom: 47px;
}
.article .article-2{
	width: 100%;
}
.article .article-2 .article-2-1{
	width: 477px;
	float: left;
}
.article .article-2 .article-2-1 .title:before{
	background: url(../images/msg_icon_blue.png) no-repeat;
}
.article .article-2 .article-2-1 .blog{
	padding-bottom: 10px;
}
.article .article-2 .article-2-1 .blog .a2-img{
	float: left;
	margin-right: 16px;
}
.article .article-2 .article-2-1 .blog .right-side{
	padding-top: 10px;
}
.article .article-2 .article-2-1 .blog .right-side p{
	font-size: 12px;
	font-family: "MS PGothic";
	line-height: 1.5em;
}
.article .article-2 .article-2-2{
	float:left;
	width: 475px;
	margin-left: 19px;
}
.article .article-2 .article-2-2 .title:before{
	background: url(../images/tt_icon.png) no-repeat;
}
.article .article-2 .article-2-2 .block{
	width: 48px;
	height: 48px;
	border-radius: 3px;
	background-color: #f2f2f2;
	float: left;
	margin-right: 10px;
}
.article .article-2 .article-2-2 .news-list{
	height: 231px;
	overflow-y: scroll;
}
.article .article-2 .article-2-2 .news-list ul li{
	margin-bottom: 13px;
	padding-right: 10px;
	height: 48px;
}
.article .article-2 .article-2-2 .news-list .right-side{
	float:left;
	line-height: 1em;
}
.article .article-2 .article-2-2 .news-list .right-side p{
	font-size: 12px;
}
.article .article-2 .article-2-2 .news-list .right-side span{
	font-weight: bold;
}
.article .article-2 .article-2-2 .news-list .right-side .link{
	font-weight: unset;
}
.article .bnr-section ul li{
	float: left;
	margin-top:39px;
	width: 310px;
	height: 60px;
	background-color: #f2f2f2;
	margin-right:20px;
	font-size: 14px;
	padding: 18px 130px;
}
.article .bnr-section ul li:last-child{
	margin-right: 0;
}