.article{
	width: 971px;
	margin: 0 auto;
}
.article .txt-1{
	font-family: "ShinGoPro-Light";
	font-size: 24px;
}
.article #sp-1{
	font-family: "ShinGoPro-Regular";
	font-size: 40px;
	width: 375px;
	padding-left: 5px;
}
.article #sp-2{
	font-size: 29px;
	padding-left: 5px;
}
.article #sp-1:before{
	content: '';
	background: url(../images/span_bg.png) no-repeat;
	height: 21px;
	width: 375px;
	position:absolute;
	z-index: -1;
	margin-top: 30px;
	margin-left: -10px;
}
.article #sp-2:after{
	content: '';
	background: url(../images/txt_1.png) no-repeat;
	height: 77px;
	width: 77px;
	position:absolute;
	margin-left: 10px;
	margin-top: 5px;
}
.article .txt-2{
	font-family: "MS PGothic";
	font-size: 14px;
	line-height: 1.7em;
	margin-bottom: 0;
	padding-top: 20px;
}
.article .article-1{
	padding-top: 45px;
}
.article .article-1 .logo-txt{
	font-family: "ShinGoPro-Regular";
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 570px;
	position: relative;
}
.article .article-1 .logo-txt span{
	font-size: 33px;
	padding-left: 5px;
	position: relative;
	top: -5px;
}
.article .article-1 .logo-txt:before{
	content: '';
	background: url(../images/logo.png) no-repeat;
	width: 258px;
	height: 35px;
	position:absolute;
	left: -270px;
	top:0;
}
.article .article-1 .options{
	width: 100%;
	height: 87px;
	margin-top: -10px;
	background-color: #ecf0f1;
}
.article .article-1 .options ul{
	padding: 20px 0 0 20px;
}
.article .article-1 .options ul li{
	float: left;
	margin-right: 13px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom: 2px solid #d4d8d8;
	background-color: #fff;
	width: 301px;
	height: 44px;
	position: relative;
	z-index: 1;
}
.article .article-1 .options ul .opt-1:before, .opt-2:before, .opt-3:before{
	content: '';
	background: url(../images/number_bg.png) no-repeat;
	width: 45px;
	height: 44px;
	position:absolute;
	z-index: 2;
	top: -1px;
}
.article .article-1 .options ul li span{
	color: #fff;
	font-family: "ShinGoPro-Medium";
	font-size: 16px;
	padding-right: 32px;
}
.article .article-1 .options ul li h5{
	font-size: 14px;
	font-family: "MS PGothic";
	font-weight: bold;
	padding-top: 13px;
	margin-left: 17px;
	z-index: 3;
	position: relative;
}
.article .article-2{
	margin: 50px 0;
}
.article .article-2 h3{
	font-family: "ShinGoPro-Light";
	font-size: 26px;
	letter-spacing: 2px;
	margin-left: 20px;
	position: relative;
	padding-left: 10px;
}
.article .article-2 h3:before{
	content: '';
	background: url(../images/finger_icon.png) no-repeat;
	width: 16px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: -20px;
}
.article .article-2 p{
	margin-top: 28px;
	font-size: 14px;
	font-family: "MS PGothic";
	line-height:2em;
	letter-spacing: 0.5px;
	margin-bottom: 32px;
}